<a href="https://colab.research.google.com/github/HappyJJins/Jeju_CreditCard/blob/master/DataExploring02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os, sys
from google.colab import drive

ROOT = '/content/drive'
drive.mount(ROOT)

my_path = '/content/notebooks'
# Colab Notebooks 안에 my_env 폴더에 패키지 저장
os.symlink('/content/drive/My Drive/Colab Notebooks/my_env', my_path)
sys.path.insert(0, my_path)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
from os.path import join

MY_GOOGLE_DRIVE_PATH = '/content/drive/My Drive/Colab Notebooks/Jeju'
PROJECT_PATH = join(ROOT, MY_GOOGLE_DRIVE_PATH)

In [3]:
from google.colab import auth
auth.authenticate_user()

In [4]:
from google.cloud import bigquery

import pandas as pd
import numpy as np
import sklearn
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import LabelEncoder

# 평가 메트릭
from sklearn.metrics import mean_squared_error, mean_absolute_error

# 시각화
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt  # Matlab-style plotting

# 통계
from scipy import stats
from scipy.stats import norm, skew #for some statistics

from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from itertools import product

In [6]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Jeju/data/jeju_data_ver1/201901-202003.csv')
train.head()

   REG_YYMM CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM  ... FLC CSTMR_CNT      AMT  CNT
0    201901           강원         강릉시  건강보조식품 소매업  ...   1         4   311200    4
1    201901           강원         강릉시  건강보조식품 소매업  ...   2         7  1374500    8
2    201901           강원         강릉시  건강보조식품 소매업  ...   2         6   818700    6
3    201901           강원         강릉시  건강보조식품 소매업  ...   3         4  1717000    5
4    201901           강원         강릉시  건강보조식품 소매업  ...   4         3  1047300    3

[5 rows x 12 columns]

In [7]:
data = train.copy()

In [ ]:
data['STD_CLSS_NM'].unique()

array(['건강보조식품 소매업', '골프장 운영업', '과실 및 채소 소매업', '관광 민예품 및 선물용품 소매업',
       '그외 기타 스포츠시설 운영업', '그외 기타 종합 소매업', '기타 대형 종합 소매업', '기타 외국식 음식점업',
       '기타 주점업', '기타음식료품위주종합소매업', '마사지업', '비알콜 음료점업', '빵 및 과자류 소매업',
       '서양식 음식점업', '수산물 소매업', '슈퍼마켓', '스포츠 및 레크레이션 용품 임대업', '여관업', '욕탕업',
       '육류 소매업', '일반유흥 주점업', '일식 음식점업', '전시 및 행사 대행업', '중식 음식점업',
       '차량용 가스 충전업', '차량용 주유소 운영업', '체인화 편의점', '피자 햄버거 샌드위치 및 유사 음식점업',
       '한식 음식점업', '호텔업', '화장품 및 방향제 소매업', '휴양콘도 운영업', '여행사업', '자동차 임대업',
       '면세점', '버스 운송업', '택시 운송업', '기타 수상오락 서비스업', '내항 여객 운송업',
       '그외 기타 분류안된 오락관련 서비스업', '정기 항공 운송업'], dtype=object)

In [8]:
data_1903, data_2003 = data[data['REG_YYMM']==201903], data[data['REG_YYMM']==202003]

In [13]:
diff_03 = pd.concat([data_1903.groupby('STD_CLSS_NM').AMT.sum(), data_2003.groupby('STD_CLSS_NM').AMT.sum()], axis=1, keys=['1903_AMT','2003_AMT'])
diff_03['diff'] = (diff_03['1903_AMT']-diff_03['2003_AMT'])/diff_03['1903_AMT']
diff_03 = diff_03.reset_index()
diff_03.head()

            STD_CLSS_NM     1903_AMT     2003_AMT      diff
0            건강보조식품 소매업   6307887107   5753676884  0.087860
1               골프장 운영업  42108966385  39398851940  0.064360
2           과실 및 채소 소매업  38415185909  42491078825 -0.106101
3     관광 민예품 및 선물용품 소매업   1018056196    463741220  0.544484
4  그외 기타 분류안된 오락관련 서비스업      2005500      1580200  0.212067

In [14]:
diff_03 = diff_03.sort_values(by='diff', ascending=False).reset_index(drop=True)
diff_03

              STD_CLSS_NM      1903_AMT      2003_AMT      diff
0                    여행사업    8066920544     420268181  0.947902
1               정기 항공 운송업   44892792670    3314992032  0.926158
2                     면세점   29559210069    3933663113  0.866923
3         그외 기타 스포츠시설 운영업     231791910      42628600  0.816091
4             전시 및 행사 대행업    6226218379    1616742158  0.740333
5                  버스 운송업   17037134504    5188894134  0.695436
6                휴양콘도 운영업    3378598195    1093634463  0.676305
7                     호텔업   13817431974    5073633041  0.632809
8               내항 여객 운송업    3011608155    1324194320  0.560303
9       관광 민예품 및 선물용품 소매업    1018056196     463741220  0.544484
10                    욕탕업   14847817907    6850723890  0.538604
11                   마사지업    1408297586     735895101  0.477458
12               일반유흥 주점업   39794737289   23863095750  0.400345
13     스포츠 및 레크레이션 용품 임대업   97060111807   58352181776  0.398804
14                    여관업   18379401518   11160933597  0.392748
15           기타 수상오락 서비스업     112604480      71429085  0.365664
16          화장품 및 방향제 소매업   48695291945   31002789304  0.363331
17                일식 음식점업   58833096118   37491047321  0.362756
18            기타 외국식 음식점업   45944677941   29675319516  0.354108
19                한식 음식점업  979787456428  666573459086  0.319675
20                 기타 주점업   11736607723    7993009006  0.318968
21               서양식 음식점업  119483441051   87416713918  0.268378
22                중식 음식점업   67840648226   50520594663  0.255305
23                 택시 운송업  112410966348   84134752128  0.251543
24   그외 기타 분류안된 오락관련 서비스업       2005500       1580200  0.212067
25               비알콜 음료점업   76170676049   61293487852  0.195314
26           기타 대형 종합 소매업  517323547314  420628950325  0.186913
27  피자 햄버거 샌드위치 및 유사 음식점업   75701534533   65972238656  0.128522
28            빵 및 과자류 소매업   66345238157   59099021036  0.109220
29             차량용 가스 충전업   16468348269   14871611495  0.096958
30            차량용 주유소 운영업  499290480565  452987251807  0.092738
31             건강보조식품 소매업    6307887107    5753676884  0.087860
32                골프장 운영업   42108966385   39398851940  0.064360
33                체인화 편의점  343297549867  335570800081  0.022507
34                수산물 소매업   18669977444   19698851610 -0.055108
35            과실 및 채소 소매업   38415185909   42491078825 -0.106101
36           그외 기타 종합 소매업   63325621140   72210158692 -0.140299
37          기타음식료품위주종합소매업   97979884506  117569868195 -0.199939
38                   슈퍼마켓  433391230213  521995396048 -0.204444
39                 육류 소매업   65668894628   88134048355 -0.342097
40                자동차 임대업    1367813182    1893218693 -0.384121

In [12]:
data_2002 = data[data['REG_YYMM']==202002]
diff_0203 = pd.concat([data_2002.groupby('STD_CLSS_NM').AMT.sum(), data_2003.groupby('STD_CLSS_NM').AMT.sum()], axis=1, keys=['2002_AMT','2003_AMT'])
diff_0203['diff'] = (diff_0203['2002_AMT']-diff_0203['2003_AMT'])/diff_0203['2002_AMT']
diff_0203 = diff_0203.reset_index()
diff_0203 = diff_0203.sort_values(by='diff', ascending=False).reset_index(drop=True)
diff_0203

              STD_CLSS_NM      2002_AMT      2003_AMT      diff
0                     면세점   12425479612    3933663113  0.683420
1                휴양콘도 운영업    3317926290    1093634463  0.670386
2               정기 항공 운송업    9903281616    3314992032  0.665263
3         그외 기타 스포츠시설 운영업     107046140      42628600  0.601774
4                    여행사업    1026582986     420268181  0.590615
5                     호텔업   11017116476    5073633041  0.539477
6                  버스 운송업   10329117050    5188894134  0.497644
7             전시 및 행사 대행업    2373964614    1616742158  0.318970
8                     욕탕업    9496420875    6850723890  0.278599
9                    마사지업    1008095963     735895101  0.270015
10               일반유흥 주점업   29622482390   23863095750  0.194426
11                    여관업   13005405169   11160933597  0.141823
12                 택시 운송업   97328135193   84134752128  0.135556
13                 기타 주점업    9202171469    7993009006  0.131400
14      관광 민예품 및 선물용품 소매업     531651593     463741220  0.127735
15            기타 외국식 음식점업   33614067688   29675319516  0.117176
16          화장품 및 방향제 소매업   35057136061   31002789304  0.115650
17               서양식 음식점업   97352963272   87416713918  0.102064
18                한식 음식점업  732449904652  666573459086  0.089940
19                일식 음식점업   40930204259   37491047321  0.084025
20                중식 음식점업   54287340957   50520594663  0.069385
21                자동차 임대업    1988182843    1893218693  0.047764
22               비알콜 음료점업   62899321410   61293487852  0.025530
23             차량용 가스 충전업   14931357003   14871611495  0.004001
24            차량용 주유소 운영업  452943658569  452987251807 -0.000096
25                체인화 편의점  322618992908  335570800081 -0.040146
26  피자 햄버거 샌드위치 및 유사 음식점업   62318869082   65972238656 -0.058624
27              내항 여객 운송업    1233565982    1324194320 -0.073469
28             건강보조식품 소매업    5340082879    5753676884 -0.077451
29            빵 및 과자류 소매업   54153043924   59099021036 -0.091333
30           기타 대형 종합 소매업  383675206614  420628950325 -0.096315
31   그외 기타 분류안된 오락관련 서비스업       1379750       1580200 -0.145280
32                   슈퍼마켓  455008741177  521995396048 -0.147221
33           그외 기타 종합 소매업   62824829847   72210158692 -0.149389
34     스포츠 및 레크레이션 용품 임대업   50467157264   58352181776 -0.156241
35          기타음식료품위주종합소매업   97202780806  117569868195 -0.209532
36                수산물 소매업   16270945014   19698851610 -0.210677
37            과실 및 채소 소매업   34708535677   42491078825 -0.224226
38                 육류 소매업   69440767926   88134048355 -0.269197
39           기타 수상오락 서비스업      52191400      71429085 -0.368599
40                골프장 운영업   18228841136   39398851940 -1.161347

In [17]:
pd.concat([diff_03[['STD_CLSS_NM','diff']], diff_0203[['STD_CLSS_NM','diff']]], axis=1)

              STD_CLSS_NM      diff            STD_CLSS_NM      diff
0                    여행사업  0.947902                    면세점  0.683420
1               정기 항공 운송업  0.926158               휴양콘도 운영업  0.670386
2                     면세점  0.866923              정기 항공 운송업  0.665263
3         그외 기타 스포츠시설 운영업  0.816091        그외 기타 스포츠시설 운영업  0.601774
4             전시 및 행사 대행업  0.740333                   여행사업  0.590615
5                  버스 운송업  0.695436                    호텔업  0.539477
6                휴양콘도 운영업  0.676305                 버스 운송업  0.497644
7                     호텔업  0.632809            전시 및 행사 대행업  0.318970
8               내항 여객 운송업  0.560303                    욕탕업  0.278599
9       관광 민예품 및 선물용품 소매업  0.544484                   마사지업  0.270015
10                    욕탕업  0.538604               일반유흥 주점업  0.194426
11                   마사지업  0.477458                    여관업  0.141823
12               일반유흥 주점업  0.400345                 택시 운송업  0.135556
13     스포츠 및 레크레이션 용품 임대업  0.398804                 기타 주점업  0.131400
14                    여관업  0.392748      관광 민예품 및 선물용품 소매업  0.127735
15           기타 수상오락 서비스업  0.365664            기타 외국식 음식점업  0.117176
16          화장품 및 방향제 소매업  0.363331          화장품 및 방향제 소매업  0.115650
17                일식 음식점업  0.362756               서양식 음식점업  0.102064
18            기타 외국식 음식점업  0.354108                한식 음식점업  0.089940
19                한식 음식점업  0.319675                일식 음식점업  0.084025
20                 기타 주점업  0.318968                중식 음식점업  0.069385
21               서양식 음식점업  0.268378                자동차 임대업  0.047764
22                중식 음식점업  0.255305               비알콜 음료점업  0.025530
23                 택시 운송업  0.251543             차량용 가스 충전업  0.004001
24   그외 기타 분류안된 오락관련 서비스업  0.212067            차량용 주유소 운영업 -0.000096
25               비알콜 음료점업  0.195314                체인화 편의점 -0.040146
26           기타 대형 종합 소매업  0.186913  피자 햄버거 샌드위치 및 유사 음식점업 -0.058624
27  피자 햄버거 샌드위치 및 유사 음식점업  0.128522              내항 여객 운송업 -0.073469
28            빵 및 과자류 소매업  0.109220             건강보조식품 소매업 -0.077451
29             차량용 가스 충전업  0.096958            빵 및 과자류 소매업 -0.091333
30            차량용 주유소 운영업  0.092738           기타 대형 종합 소매업 -0.096315
31             건강보조식품 소매업  0.087860   그외 기타 분류안된 오락관련 서비스업 -0.145280
32                골프장 운영업  0.064360                   슈퍼마켓 -0.147221
33                체인화 편의점  0.022507           그외 기타 종합 소매업 -0.149389
34                수산물 소매업 -0.055108     스포츠 및 레크레이션 용품 임대업 -0.156241
35            과실 및 채소 소매업 -0.106101          기타음식료품위주종합소매업 -0.209532
36           그외 기타 종합 소매업 -0.140299                수산물 소매업 -0.210677
37          기타음식료품위주종합소매업 -0.199939            과실 및 채소 소매업 -0.224226
38                   슈퍼마켓 -0.204444                 육류 소매업 -0.269197
39                 육류 소매업 -0.342097           기타 수상오락 서비스업 -0.368599
40                자동차 임대업 -0.384121                골프장 운영업 -1.161347

작년 동월 대비 가장 많이 감소한 업종 TOP10
1. 여행산업
2. 정기 항공 운송업
3. 면세점
4. 그외 기타 스포츠시설 운영업
5. 전시 및 행사 대행업
6. 버스 운송업
7. 휴양콘도 운영업
8. 호텔업
9. 관광 민에품 및 선물용품 소매업
10. 욕탕업

TOP10에 들어가지만 직전달보다는 오른 업종
* 내항 여객 운송업

In [45]:
sido_03 = data[data['REG_YYMM'].isin([201903,202003])].groupby(['CARD_SIDO_NM','REG_YYMM']).AMT.sum().reset_index()
sido_03 = sido_03[sido_03['REG_YYMM']==201903].merge(sido_03[sido_03['REG_YYMM']==202003], on='CARD_SIDO_NM')
sido_03 = sido_03[['CARD_SIDO_NM','AMT_x','AMT_y']]
sido_03.columns = ['CARD_SIDO_NM','AMT_1903','AMT_2003']
sido_03['diff'] = (sido_03['AMT_1903']-sido_03['AMT_2003'])/sido_03['AMT_1903']
sido_03 = sido_03.sort_values(by='diff', ascending=False).reset_index(drop=True)
sido_03

   CARD_SIDO_NM       AMT_1903      AMT_2003      diff
0            대구   207024164939  151649595832  0.267479
1            부산   314215793190  234904898665  0.252409
2            인천   219739553889  166915125854  0.240396
3            서울  1012627085366  789796734433  0.220052
4            제주    89420874275   71061095855  0.205319
5            경북   188082554647  150145066894  0.201707
6            울산    86076151130   70660254987  0.179096
7            대전    77582739516   65727041723  0.152814
8            충남   142463971579  124325365579  0.127321
9            강원   100109898251   88034516800  0.120621
10           경남   235181413354  208445168889  0.113683
11           세종    13876736752   12472075388  0.101224
12           전북   131232471025  118942183199  0.093653
13           경기   956062075488  870774248634  0.089207
14           충북    96882542713   89186871346  0.079433
15           광주   114535612335  108259902046  0.054793
16           전남   120296121282  116584279973  0.030856

In [50]:
sido_0203 = data[data['REG_YYMM'].isin([202002,202003])].groupby(['CARD_SIDO_NM','REG_YYMM']).AMT.sum().reset_index()
sido_0203 = sido_0203[sido_0203['REG_YYMM']==202002].merge(sido_0203[sido_0203['REG_YYMM']==202003], on='CARD_SIDO_NM')
sido_0203 = sido_0203[['CARD_SIDO_NM','AMT_x','AMT_y']]
sido_0203.columns = ['CARD_SIDO_NM','AMT_2002','AMT_2003']
sido_0203['diff'] = (sido_0203['AMT_2002']-sido_0203['AMT_2003'])/sido_0203['AMT_2002']
sido_0203 = sido_0203.sort_values(by='diff', ascending=False).reset_index(drop=True)
sido_0203

   CARD_SIDO_NM      AMT_2002      AMT_2003      diff
0            대구  170999808656  151649595832  0.113159
1            부산  250458378759  234904898665  0.062100
2            울산   74057851829   70660254987  0.045878
3            서울  810412676550  789796734433  0.025439
4            경북  153417402900  150145066894  0.021330
5            인천  167075935179  166915125854  0.000962
6            세종   12391784265   12472075388 -0.006479
7            대전   65010896084   65727041723 -0.011016
8            경남  204410924508  208445168889 -0.019736
9            제주   69580895083   71061095855 -0.021273
10           강원   85160073300   88034516800 -0.033753
11           충남  116315241157  124325365579 -0.068866
12           경기  800024984712  870774248634 -0.088434
13           충북   81655095617   89186871346 -0.092239
14           광주   98945393452  108259902046 -0.094138
15           전북  106721690682  118942183199 -0.114508
16           전남  104055912803  116584279973 -0.120400

In [51]:
pd.concat([sido_03[['CARD_SIDO_NM','diff']], sido_0203[['CARD_SIDO_NM','diff']]], axis=1)

   CARD_SIDO_NM      diff CARD_SIDO_NM      diff
0            대구  0.267479           대구  0.113159
1            부산  0.252409           부산  0.062100
2            인천  0.240396           울산  0.045878
3            서울  0.220052           서울  0.025439
4            제주  0.205319           경북  0.021330
5            경북  0.201707           인천  0.000962
6            울산  0.179096           세종 -0.006479
7            대전  0.152814           대전 -0.011016
8            충남  0.127321           경남 -0.019736
9            강원  0.120621           제주 -0.021273
10           경남  0.113683           강원 -0.033753
11           세종  0.101224           충남 -0.068866
12           전북  0.093653           경기 -0.088434
13           경기  0.089207           충북 -0.092239
14           충북  0.079433           광주 -0.094138
15           광주  0.054793           전북 -0.114508
16           전남  0.030856           전남 -0.120400

작년 동월 대비 가장 많이 감소한 시도 TOP5
1. 대구
2. 부산
3. 인천
4. 서울
5. 경북

TOP10에 들어가지만 직전달보다는 오른 시도
* 제주

특정 시도의 업종별 소비금액 순위

In [59]:
def sido_clss(sido):
    df = data[data['CARD_SIDO_NM']==sido].groupby('STD_CLSS_NM').AMT.sum().reset_index()
    df = df.sort_values(by='AMT', ascending=False).reset_index(drop=True)
    return df

특정 업종의 시도별 소비금액 순위

In [66]:
def clss_sido(clss):
    df = data[data['STD_CLSS_NM']==clss].groupby('CARD_SIDO_NM').AMT.sum().reset_index()
    df = df.sort_values(by='AMT', ascending=False).reset_index(drop=True)
    return df

특정 시도의 2019년 3월 대비 2020년 3월 소비 감소율 순위

In [78]:
def sido_diff(sido):
    df = data[data['CARD_SIDO_NM']==sido]
    df_19 = df[df['REG_YYMM']==201903]
    df_20 = df[df['REG_YYMM']==202003]
    diff = pd.concat([df_19.groupby('STD_CLSS_NM').AMT.sum(), df_20.groupby('STD_CLSS_NM').AMT.sum()], axis=1, keys=['1903_AMT','2003_AMT'])
    diff['diff'] = (diff['1903_AMT']-diff['2003_AMT'])/diff['1903_AMT']
    diff = diff.reset_index()
    diff = diff.sort_values(by='diff', ascending=False).reset_index(drop=True)
    return diff

In [79]:
sido_diff('대구')

                    index     1903_AMT      2003_AMT      diff
0                 자동차 임대업      4747480  1.850000e+05  0.961032
1                     호텔업    402020726  1.591280e+07  0.960418
2            기타 수상오락 서비스업      1603700  7.200000e+04  0.955104
3         그외 기타 스포츠시설 운영업     10987500  6.900000e+05  0.937201
4             전시 및 행사 대행업    236058620  2.649105e+07  0.887778
5                    마사지업     15001600  2.194000e+06  0.853749
6                     욕탕업    708719816  1.038175e+08  0.853514
7       관광 민예품 및 선물용품 소매업     38131020  7.100600e+06  0.813784
8                일반유흥 주점업   1295410205  2.829416e+08  0.781581
9                  기타 주점업    384362160  1.144566e+08  0.702217
10            기타 외국식 음식점업   1926800963  6.364172e+08  0.669703
11                일식 음식점업   2782193206  9.373126e+08  0.663103
12                    여관업    799465474  3.291784e+08  0.588252
13               서양식 음식점업   6465418229  2.738244e+09  0.576478
14                한식 음식점업  54176102491  2.326337e+10  0.570597
15          화장품 및 방향제 소매업   2357584259  1.014803e+09  0.569558
16                 택시 운송업   6347327300  2.734898e+09  0.569126
17     스포츠 및 레크레이션 용품 임대업   4697769833  2.097655e+09  0.553479
18                골프장 운영업    268961445  1.247150e+08  0.536309
19               비알콜 음료점업   3929631260  2.204510e+09  0.439003
20                중식 음식점업   3126397848  1.764780e+09  0.435523
21           기타 대형 종합 소매업  25454127230  1.857715e+10  0.270171
22  피자 햄버거 샌드위치 및 유사 음식점업   4237775113  3.192084e+09  0.246755
23             차량용 가스 충전업   1214118650  9.871286e+08  0.186959
24            차량용 주유소 운영업  24599606231  2.037503e+10  0.171734
25            빵 및 과자류 소매업   3659864511  3.050703e+09  0.166444
26             건강보조식품 소매업    265797342  2.324583e+08  0.125430
27                체인화 편의점  14816087191  1.314196e+10  0.112994
28                수산물 소매업   1422417235  1.338383e+09  0.059079
29           그외 기타 종합 소매업   1444410130  1.429582e+09  0.010266
30          기타음식료품위주종합소매업   2026101205  2.261714e+09 -0.116289
31                   슈퍼마켓  29957410414  3.756494e+10 -0.253945
32                 육류 소매업   5413824722  7.851543e+09 -0.450277
33            과실 및 채소 소매업   2236560070  3.247185e+09 -0.451866
34                    면세점    298613760           NaN       NaN
35                 버스 운송업      1656000           NaN       NaN
36                   여행사업      1100000           NaN       NaN

In [80]:
sido_diff('제주')

                    index      1903_AMT      2003_AMT      diff
0               정기 항공 운송업  3.333231e+09  1.997219e+08  0.940082
1                휴양콘도 운영업  5.613140e+08  3.871976e+07  0.931019
2                    여행사업  2.552282e+07  3.933600e+06  0.845879
3       관광 민예품 및 선물용품 소매업  3.173647e+08  5.173391e+07  0.836989
4             전시 및 행사 대행업  3.236805e+08  5.530123e+07  0.829149
5                     면세점  7.585381e+09  2.590700e+09  0.658461
6               내항 여객 운송업  1.736811e+08  6.643240e+07  0.617504
7                    마사지업  6.330000e+06  2.660000e+06  0.579779
8                     호텔업  1.128726e+09  4.949414e+08  0.561504
9                     여관업  5.772515e+08  2.672720e+08  0.536992
10                수산물 소매업  1.057152e+09  5.522453e+08  0.477610
11                자동차 임대업  3.693355e+08  2.076160e+08  0.437866
12            과실 및 채소 소매업  1.073211e+09  6.128615e+08  0.428946
13                일식 음식점업  1.306221e+09  8.852885e+08  0.322252
14     스포츠 및 레크레이션 용품 임대업  2.383986e+09  1.752881e+09  0.264727
15                 기타 주점업  1.210882e+09  8.911120e+08  0.264080
16          화장품 및 방향제 소매업  6.158751e+08  4.672881e+08  0.241262
17                한식 음식점업  2.057177e+10  1.567129e+10  0.238214
18               일반유흥 주점업  2.213526e+09  1.707254e+09  0.228717
19               서양식 음식점업  2.078700e+09  1.712389e+09  0.176221
20            기타 외국식 음식점업  4.929901e+08  4.122191e+08  0.163839
21           기타 대형 종합 소매업  5.202217e+09  4.391496e+09  0.155842
22             건강보조식품 소매업  9.307638e+07  8.040181e+07  0.136174
23                골프장 운영업  1.415479e+09  1.227910e+09  0.132513
24            차량용 주유소 운영업  9.018242e+09  7.841132e+09  0.130525
25               비알콜 음료점업  8.519430e+08  7.693587e+08  0.096936
26            빵 및 과자류 소매업  1.138991e+09  1.052148e+09  0.076245
27  피자 햄버거 샌드위치 및 유사 음식점업  1.015707e+09  9.435967e+08  0.070996
28                중식 음식점업  8.695693e+08  8.286414e+08  0.047067
29             차량용 가스 충전업  5.864493e+08  5.658153e+08  0.035185
30                    욕탕업  2.492261e+08  2.404909e+08  0.035049
31                체인화 편의점  6.121421e+09  6.246695e+09 -0.020465
32                   슈퍼마켓  9.649137e+09  1.032768e+10 -0.070322
33                 육류 소매업  8.737267e+08  1.000851e+09 -0.145497
34          기타음식료품위주종합소매업  2.693600e+09  3.616120e+09 -0.342486
35           그외 기타 종합 소매업  2.225449e+09  3.282514e+09 -0.474989
36        그외 기타 스포츠시설 운영업  1.051300e+07           NaN       NaN
37   그외 기타 분류안된 오락관련 서비스업           NaN  3.135000e+05       NaN
38           기타 수상오락 서비스업           NaN  1.606700e+06       NaN
39                 택시 운송업           NaN  4.711000e+05       NaN

In [70]:
clss_sido('여행사업')

   CARD_SIDO_NM           AMT
0            서울  105087859446
1            강원    1776928180
2            경기     663212820
3            제주     535102735
4            부산     461080937
5            충남     195329500
6            전남      82440200
7            대구      55275600
8            인천      38842200
9            광주      34138944
10           경남      28345800
11           전북      20519170
12           경북      14580600
13           울산      11946500
14           충북       8064650
15           대전       3030000